$rem-baseline: 16px !default;

@mixin rem-baseline($zoom: 100%) {
    font-size: $zoom / 16px * $rem-baseline;
}

html{
    height: 100%;
    @include rem-baseline(100%);
    //font-size: 62.5%;
}

body {
    margin: 0;
    padding: 4rem;
    min-height: 100%;
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
    background-image: linear-gradient(to top right, #333, #B8BBC8);
}
