$rem-baseline: 16px !default;

@mixin rem-baseline($zoom: 100%) {
    font-size: $zoom / 16px * $rem-baseline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    @include rem-baseline(100%);
    //font-size: 62.5%;
}

body {
    margin: 0;
    padding: 4rem;
    //background: #333;
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}
